.app {
  /* background-color: #FFCE99; */
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  display: grid;
  place-items: center;
}

.app__body {
  display: flex;
  margin-top: -10px;
  width: 90vw;
  height: 90vh;
  background-color: #EEEBD0;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}